<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="id">id:</label>
    <input style="width: 70px" type="number" id="id" formControlName="id">

    <label for="firstName">firstName:</label>
    <input type="text" firstName="firstName" formControlName="firstName">

    <label for="lastName">lastName:</label>
    <input type="text" lastName="lastName" formControlName="lastName">

    <label for="oraber">oraber:</label>
    <input type="number" oraber="oraber" formControlName="oraber">

    <label for="szakkepzetseg">szakkepzetseg:</label>
    <input type="text" szakkepzetseg="szakkepzetseg" formControlName="szakkepzetseg">
   
   
    <label for="statusz">statusz:</label>
    <input type="text" statusz="statusz" formControlName="statusz">


    
    <button type="submit" class="btn btn-success">Gép hozzáadása</button>
</form>

<h1>Munkasok listája:</h1>
<div *ngFor="let munkas of munkas$ | async">
    <ul>
        <table>
            <tr>
                <td style="width: 150px;">
                    <li>{{ munkas.id }}</li>
                    <li>{{ munkas.firstName }}</li>
                    <li>{{ munkas.lastName}}</li>
                    <li>{{ munkas.statusz }}</li>
                </td>
                <td>
                    <button class="btn btn-danger"  (click)="delMunkas(munkas.id)">munkas törlése</button>
                </td>
            </tr>
        </table>
    </ul>
</div> 