<div>
    <label for="id">id:</label>
    <input type="number" id="id" id="id">
    <label for="firstname">firstname:</label>
    <input type="text" tipus="firstname" firstname="firstname">
    <label for="oraber">oraber:</label>
    <input type="number" tipus="oraber" oraber="oraber">
    <label for="szakkepzetseg">szakkepzetseg:</label>
    <input type="text" tipus="szakkepzetseg" szakkepzetseg="szakkepzetseg">
    <label for="status">status:</label>
    <input type="text" tipus="status" status="status">
    <button type="button" class="btn btn-danger" >munkas hozzáadása</button>
    <button type="button" class="btn btn-danger" > munkas törlése </button>
</div>
