
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="id">id:</label>
    <input style="width: 70px" type="number" id="id" formControlName="id">
    <label for="tipus">tipus:</label>
    <input type="text" tipus="tipus" formControlName="tipus">
    <button type="submit" class="btn btn-success">Gép hozzáadása</button>
</form>

<h1>Gépek listája:</h1>
<div *ngFor="let gep of gepek$ | async">
    <ul>
        <table>
            <tr>
                <td style="width: 150px;">
                    <li>{{ gep.id }}</li>
                    <li>{{ gep.tipus }}</li>
                </td>
                <td>
                    <button class="btn btn-danger"  (click)="delGep(gep.id)">gép törlése</button>
                </td>
            </tr>
        </table>
    </ul>
</div> 